.card-button {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none !important;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 3px;
    padding: 10px;
    width: 362px;
    box-sizing: border-box;
    border: none;
    display: block;
    text-align: left;
}

.card-button:hover {
    background: rgba(255, 255, 255, 0.1);
}